$dark-gray-1: #484848;
$dark-gray-2: #676767;
$dark-gray-3: #908f91;
$dark-gray-4: #b4b4b4;
$dark-gray-5: #bfbfbf;

$light-gray-1: #f2f2f2;
$light-gray-2: #eaeaea;
$light-gray-3: #d9d9d9;
$light-gray-4: #cdcdcd;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e30058;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #06c8b4;
$teal: #20c997;
$cyan: #17a2b8;

$theme-colors: (
	"white": #fff,
);


$ultra-light-green: #dafcf9;
$light-green: #a2f1e9;
$light-red: #f6b2cc;

$white: #fff;
$gray-100: $light-gray-1;
$gray-200: $light-gray-2;
$gray-300: $light-gray-3;
$gray-400: $light-gray-4;

$gray-500: $dark-gray-5;
$gray-600: $dark-gray-4;
$gray-700: $dark-gray-3;
$gray-800: $dark-gray-2;
$gray-900: $dark-gray-1;

$black: #000;

$primary: $red;
$secondary: $teal;

$h1-font-size: 25pt;
$h1-font-weight: 300;

$h2-font-size: 19pt;
$h2-font-weight: 300;

$title-1-font-size: 22pt;
$title-1-font-weight: 300;

$title-2-font-size: 17pt;
$title-2-font-weight: 400;

$title-3-font-size: 17pt;
$title-3-font-weight: 300;

$title-4-font-size: 18pt;
$title-4-font-weight: 300;

$subheader-1-font-size: 16pt;
$subheader-1-font-weight: 300;

$subheader-2-font-size: 15pt;
$subheader-2-font-weight: 300;

$subheader-3-font-size: 14pt;
$subheader-3-font-weight: 300;

$button-1-font-size: 16pt;
$button-1-font-weight: 500;

$button-2-font-size: 15pt;
$button-2-font-weight: 500;


$footnote-font-size: 13pt;
$footnote-font-weight: 400;

$caption-2-font-size: 13pt;
$caption-2-font-weight: 300;

$caption-3-font-size: 12pt;
$caption-3-font-weight: 300;

$font-family-base: 10pt;
$font-weight-base: 300;

$grid-breakpoints: (
	xs: 0,
	sm: 1px,
	md: 2px,
	lg: 3px,
	xl: 4px,
);

$container-max-widths: (
	sm: 0,
	md: 512px,
	lg: 768px,
	xl: 1024px,
);

$grid-columns: 12;
$grid-gutter-width: 32px;
$spacer: 16px;


$btn-padding-y: 4px;
$btn-padding-y-sm: 2px;
$btn-padding-y-lg: 8px;

$paragraph-margin-bottom: 4px;
$headings-margin-bottom: 4px;

$line-height-base: 1.4;


$border-radius: 4px;
$border-radius-lg: 4px;
$border-radius-sm: 2px;
$dropdown-border-radius: 4px;
$nav-pills-border-radius: 40px;

$rounded-pill: 120px;

$font-size-base: 1rem;
$font-size-lg: 1.5rem;
$font-size-sm: 0.75rem;

$tooltip-border-radius: $border-radius;
$tooltip-font-size: $font-size-base * 1.2;
$tooltip-padding-x: 16px;
$tooltip-padding-y: 2px;


$dropdown-divider-margin-y: 4px;
$dropdown-border-radius: $border-radius;
$enable-shadows: true;

$breadcrumb-bg: transparent;

$border-width: 1px;
$border-color: #eee;

$dropdown-box-shadow: 0 4px 10px 0 rgba(#000, 0.1);
$dropdown-border-width: 0;
$dropdown-border-color: transparent;
$dropdown-border-radius: 3px;

$dropdown-padding-y: $spacer/2;
$dropdown-item-padding-x: $spacer;

$hr-border-color: $gray-100;

$input-color: $gray-900;


$list-group-color: $gray-900;



$kanban-header-height: 64px !default;
$kanban-header-radius: $border-radius !default;
$kanban-item-radius: $border-radius !default;
$kanban-item-width: 300px !default;
$kanban-header-background: $primary !default;
$kanban-header-arrows: $primary !default;




@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
//@import "../../node_modules/bootstrap/scss/mixins";
